.conteiner{
    background-color: black;
  
}
.backgroundJpg{
    height: 60vh ;
    background: url(../picture/backgrouns.jpg) no-repeat ;
    /* margin-bottom: 3rem; */
    position: relative;
}
.backgroundJpg img{
    width: 350px;
    position: absolute;
    bottom: -175px;
    right: 150px;
    border-radius: 50%;
    border: 2px solid rgb(54, 252, 209) ;
    z-index: 2;
}
.backgroundJpg h1{
    color:rgb(54, 252, 209) ;
    font-size: 50px;
    position: absolute;
    bottom: 0;
    right: 450px;
    z-index: 3;
} 
.backgroundJpg h1 span{
    font-size: 41px;
    color: white;
}

.paragraf{
    text-align: start;
    padding: 200px 2rem;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.371);
    border-bottom: 2px solid rgba(54, 252, 209, 0.087);
    font-family:system-ui;
}
.paragraf p span{
    color:rgb(54, 252, 209) ;
}
.icons{
  
    background-color:rgba(255, 255, 255, 0.371) ;
    display: flex;
    flex-wrap: wrap;
}
.icons img{
    margin: 0.3rem;
    width: 60px;
}
@media (max-width:750px) {
    .backgroundJpg{
   width: 100%;
   background: url(../picture/backgrouns.jpg) transparent no-repeat;
   height: 250px;
    }
    .backgroundJpg img{
        width:150px;
    position: absolute;
    bottom: -70px;
    right: 70px;
    /* border-radius: 50%;
    border: 2px solid rgb(54, 252, 209) ; */
    z-index: 2;
    }
    .backgroundJpg h1{
        color:rgb(54, 252, 209) ;
        font-size: 30px;
        position: absolute;
        bottom: 0;
        right: 190px;
        z-index: 3;
    } 
    .backgroundJpg h1 span{
        font-size: 24px;
        color: white;
    }
    .paragraf{
        font-size: 15px;
    }
    .icons img{
        margin: 0.3rem;
        width: 40px;
    }
}