.conteiner{
    padding: 1rem;
}
.Main{
    background-color: rgba(0, 0, 0, 0.9);
    margin: 1em;
    display: flex;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
}
.Main img{
    width: 400px;
    cursor: pointer;
}

.Main p{
  color: white;
  padding: 0.5em;
  font-size: 25px;
}
.Main h4{
    padding: 0.5em;
    color: rgb(0, 0, 0);
    position:absolute;;
    cursor: pointer;
    background-color: rgb(54, 252, 209);
    position:absolute;;
    position:absolute;
    right: 0.5em;
    bottom: 0.5em;
    border-radius: 20px;
    transition: 0.6s;
}
.Main h4:hover{
    background-color:black ;
    color:rgb(54, 252, 209);


}
.cost{
    padding: 0.1rem 0.2rem;
    background-color: rgb(54, 252, 209);
    position:absolute;;
    height: fit-content;
    position: absolute;
    right: 75px;
    bottom: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
.cost img{
    width: 15px;
    height: 15px;
    padding: 5px;
    margin:0 4px;
    cursor: pointer;
    border-radius: 50px;
    border: solid 2px black ;
    background-color: rgb(54, 252, 209);
    transition: 0.6s;
}
.cost p{
    padding:0 5px;
    color: rgb(0, 0, 0);
}
.pp_12{
    opacity: 0.35;
    width: 15px;
    height: 15px;
}
.filter_img{
    transition: all 0.6s;
}
.filter_img:hover{
    filter: brightness(0.4);
    transform:rotate(2deg);
}

@media (max-width:950px) {
.Main{
        background-color: rgba(0, 0, 0, 0.9);
        margin: 1em;
        position: relative;
        border-radius: 20px;
       
    }
.Main img{
        width: 100%;
    }
.Main p{
      font-weight: bolder;
     
    }
.Main h4{
        padding: 0.5em;
        color: black;
        cursor: pointer;
        background-color: rgb(54, 252, 209);
        position:absolute;
        right: 0.5em;
        bottom: 0.5em;
        border-radius: 20px;
        transition: 0.6s;
    }
.Main h4:hover{
        background-color: black;
        color: rgb(54, 252, 209);
    }
.cost{
        position: absolute;
        right: 75px;
        bottom: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}
